body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.find-players-btn {
    flex-shrink: 0; /* Prevent the button from shrinking */
    flex-grow: 0;   /* Prevent the button from growing */
    align-self: center; /* Center the button vertically */
}


.navbar {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    font-size: 24px;
}

.dropdowns {
    display: flex;
    justify-content: center;  /* Centers the contents horizontally */
}

.team-selection {
    display: flex;
    flex-direction: column;  /* Stack dropdown above the image */
    align-items: center;     /* Center the dropdown and image horizontally */
    margin: 0 10px;          /* Space between Team 1 and Team 2 selections */
}

.team-selection img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;       /* Space between the dropdown and the image */
}



.seasons-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative; 
}

.team2-seasons {
    position: absolute;
    right: 50%;  
    transform: translateX(50%);  
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"], select {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}
